

/* Music Grid aka MG */

.mg-music-grid {

    font-family: sans-serif;

	margin: auto;

	padding: 0;
	font-size: 100%;
	line-height: 1em;
	text-align: center;
}
.mg-music-grid,
.mg-music-grid * {
	box-sizing: border-box;
}

.mg-music-grid caption{
	text-align: center;
	display: table-caption;
	padding: 0.5em;
}

.mg-music-grid caption a{
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	text-decoration: underline;
}

.mg-music-grid caption .mg-description{
	text-align: justify;
	text-indent: 1.5em;
	margin-left: 3em;
	margin-right: 3em;
	padding:.5em;
}

.mg-music-grid {
	margin: auto;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0 .25em;

	/*border-collapse: collapse;*/

}
.mg-music-grid tbody th:first-child,
.mg-music-grid tbody th:last-child {
	width: 2em;
}


.mg-music-grid tbody:before,
.mg-music-grid tbody:after {
	display: table-row;
	content: ' ';
	height: .25em;
}

.mg-music-grid tr td {
	height: 6em;
	width: 8em;
	border-color: #000;
	border-style: solid;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 0;
	border-width: 0.25em 0.125em;
}
.mg-music-grid tr td:first-of-type {
	border-left-width: 0.25em;
}
.mg-music-grid tr td:last-of-type {
	border-right-width: 0.25em;
}

.mg-music-grid tbody th {
	vertical-align: middle;
	text-align: center;
	font-size: 2em;
	white-space: nowrap;
}
.mg-music-grid tbody th:first-child,
.mg-music-grid tbody th:last-child {
	width: 2.25em;
}
.mg-music-grid tbody th:first-child:after,
.mg-music-grid tbody th:last-child:before {
	content: " ";
	border-style: solid;
	border-color: #000;
	border-radius: 1em / 50%;
	font-weight: normal;
	display: inline-block;
}

.mg-music-grid tbody th:first-child:after,
.mg-music-grid tbody th:last-child:before {
	height: 3em;
	line-height: 3em;
	margin-top: -1.3125em;	
	margin-bottom: -1.3125em;
	width: 1.25em;
}

.mg-music-grid th[colspan="100%"]:only-child {
	padding: 0.5em 4em;
}

.mg-music-grid tbody th[rowspan="2"]:first-child:after,
.mg-music-grid tbody th[rowspan="2"]:last-child:before {
	height: 6em;
	line-height: 6em;
	margin-top: -2.625em;	
	margin-bottom: -2.625em;
}

.mg-music-grid tbody th:first-child:after {
	border-width: 0 0 0 0.125em;
	margin-left: 0.25em;	
	margin-right: -1em;	
}
.mg-music-grid tbody th:first-child {
	padding-right: .5em;
	text-align: right;
}
.mg-music-grid tbody th:last-child {
	padding-right: .5em;	
	text-align: left;
}
.mg-music-grid tbody th:last-child:before {
	border-width: 0 0.125em 0 0;
	margin-right: 0.25em;	
	margin-left: -1em;	
}

.mg-music-grid tbody th:only-child:after,
.mg-music-grid tbody th:empty:after,
.mg-music-grid tbody th[colspan]:after,
.mg-music-grid tbody th:only-child:before,
.mg-music-grid tbody th:empty:before,
.mg-music-grid tbody th[colspan]:before {
	content: none;
}

.mg-music-grid tbody th[colspan] {
	font-size: 1em;
	margin: auto;
}
.mg-music-grid td {
	vertical-align: top;
	text-align: center;
}

.mg-music-grid td[data-mg-rythm="2/2"] {
	background-image: linear-gradient( to right bottom, transparent 0%, transparent 48.5%, #000 49%, #000 51%, transparent 51.5%, transparent 100% );

}
.mg-music-grid td[data-mg-rythm="2/1/1"],
.mg-music-grid td[data-mg-rythm="1/2/1"],
.mg-music-grid td[data-mg-rythm="1/1/2"] {
	background-size: auto, 50% 50%;

}
.mg-music-grid td[data-mg-rythm="2/1/1"] {
	background-image: linear-gradient( to right bottom, transparent 0%, transparent 48.5%, #000 49%, #000 51%, transparent 51.5%, transparent 100% ),
						linear-gradient( to left bottom, transparent 0%, transparent 47%, #000 48%, #000 52%, transparent 53%, transparent 100% );
	background-position: 100% 100%;
}
.mg-music-grid td[data-mg-rythm="1/2/1"] {
	background-image: linear-gradient( to left bottom, transparent 0%, transparent 48.5%, #000 49%, #000 51%, transparent 51.5%, transparent 100% ),
						linear-gradient( to right bottom, transparent 0%, transparent 47%, #000 48%, #000 52%, transparent 53%, transparent 100% );
	background-position: 0% 100%;
}
.mg-music-grid td[data-mg-rythm="1/1/2"] {
	background-image: linear-gradient( to right bottom, transparent 0%, transparent 48.5%, #000 49%, #000 51%, transparent 51.5%, transparent 100% ),
						linear-gradient( to left bottom, transparent 0%, transparent 47%, #000 48%, #000 52%, transparent 53%, transparent 100% );
}
.mg-music-grid td[data-mg-rythm="1/1/1/1"] {
	background-image: linear-gradient( to right bottom, transparent 0%, transparent 48.5%, #000 49%, #000 51%, transparent 51.5%, transparent 100% ),
						linear-gradient( to left bottom, transparent 0%, transparent 48.5%, #000 49%, #000 51%, transparent 51.5%, transparent 100% );
}


/* alternative : show end of measure. help reading */
.mg-music-grid td[data-mg-rythm="1/2/1"] {
	background-image: linear-gradient( to left bottom, transparent 0%, transparent 48.5%, #000 49%, #000 51%, transparent 51.5%, transparent 100% ),
						linear-gradient( to right bottom, transparent 0%, transparent 45.75%, #000 46.75%, #000 48.75%, transparent 49.25%, transparent 50.75%, #000 51.25%, #000 53.25%, transparent 54.25%, transparent 100% );
	background-position: 0% 100%;
}


/* ternary */
.mg-music-grid td[data-mg-rythm="2/1"] {
	background-image: linear-gradient( 210deg, transparent 0%, transparent 47%, #000 48%, #000 52%, transparent 53%, transparent 100% ),
						linear-gradient( 330deg, transparent 0%, transparent 45.75%, #000 46.75%, #000 48.75%, transparent 49.25%, transparent 50.75%, #000 51.25%, #000 53.25%, transparent 54.25%, transparent 100% );
	background-position: 100% 87.5%, 0% 87.5%;
	background-size: 50% 50%, 50% 50%;
}

/* ternary */
.mg-music-grid td[data-mg-rythm="1/2"] {
	background-image: linear-gradient( 90deg, transparent 0%, transparent 48.5%, #000 49%, #000 51%, transparent 51.5%, transparent 100% ),
						linear-gradient( 330deg, transparent 0%, transparent 45.75%, #000 46.75%, #000 48.75%, transparent 49.25%, transparent 50.75%, #000 51.25%, #000 53.25%, transparent 54.25%, transparent 100% );
	background-position: 0% 0%, 0% 87.5%;
	background-size: 100% 50%, 50% 50%;
}

/* ternary */
.mg-music-grid td[data-mg-rythm="1/1/1"] {
	background-image: linear-gradient( 90deg, transparent 0%, transparent 48.5%, #000 49%, #000 51%, transparent 51.5%, transparent 100% ),
						linear-gradient( 210deg, transparent 0%, transparent 47%, #000 48%, #000 52%, transparent 53%, transparent 100% ),
						linear-gradient( 330deg, transparent 0%, transparent 45.75%, #000 46.75%, #000 48.75%, transparent 49.25%, transparent 50.75%, #000 51.25%, #000 53.25%, transparent 54.25%, transparent 100% );
	background-position: 0% 0%, 100% 87.5%, 0% 87.5%;
	background-size: 100% 50%, 50% 50%, 50% 50%;
}

.mg-music-grid td figure {
	margin: 0;
	height: 100%;
	width: 100%;
	display: none;
	line-height: 100%;
/*	border: 1px solid blue;
*/	float: left;
}
.mg-music-grid td figure:nth-last-child(1),
.mg-music-grid td figure:nth-last-child(2),
.mg-music-grid td figure:nth-last-child(3),
.mg-music-grid td figure:nth-last-child(4) { display: inline-block;}


.mg-music-grid td figure:nth-last-child(1){
	width: 100%;
}

.mg-music-grid td figure:nth-last-child(2),
.mg-music-grid td figure:nth-last-child(2) ~ figure {
	width: calc( 100% / 2);
}
.mg-music-grid td figure:nth-last-child(3),
.mg-music-grid td figure:nth-last-child(3) ~ figure,
.mg-music-grid td figure:nth-last-child(4),
.mg-music-grid td figure:nth-last-child(4) ~ figure {
	width: calc( 100% / 3);
}


.mg-music-grid hr {
	border-width: 0.125em;
	border-style: solid;
	border-color: #000;
}


.mg-music-grid tr td figure {
	font-size: 2em;
	line-height: 3em;
	letter-spacing: -0.1em;
}

.mg-music-grid td[data-mg-rythm="2/1/1"] figure:nth-child(1),
.mg-music-grid td[data-mg-rythm="1/2/1"] figure:nth-child(2),
.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(3),

.mg-music-grid td[data-mg-rythm="2/1"] figure:nth-child(1),
.mg-music-grid td[data-mg-rythm="1/2"] figure:nth-child(2),

.mg-music-grid td[data-mg-rythm="2/2"] figure {
	width: 100%;
	height: 2em;
	font-size: 1.5em;
	line-height: 2em;
}

.mg-music-grid td[data-mg-rythm="2/1"] figure:nth-child(1),
.mg-music-grid td[data-mg-rythm="1/2"] figure:nth-child(2) {
	width: 50%;
}


.mg-music-grid td[data-mg-rythm="1/1/1"] figure,

.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(1),
.mg-music-grid td[data-mg-rythm="1/2/1"] figure:nth-child(1),
.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(2),
.mg-music-grid td[data-mg-rythm="2/1/1"] figure:nth-child(2),
.mg-music-grid td[data-mg-rythm="1/2/1"] figure:nth-child(3),
.mg-music-grid td[data-mg-rythm="2/1/1"] figure:nth-child(3),
.mg-music-grid td[data-mg-rythm="1/1/1/1"] figure {
	height: 3em;
	font-size: 1em;
	line-height: 3em;
}

.mg-music-grid td[data-mg-rythm="2/2"] figure:nth-child(1) {
	padding-right: 50%;
}
.mg-music-grid td[data-mg-rythm="2/2"] figure:nth-child(2) {
	margin-left: 50%;
/*	padding-left: 50%;
*/}

.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(2) {
	padding-left: 50%;
}

.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(2) {
	padding-left: 50%;
}



.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(1),
.mg-music-grid td[data-mg-rythm="1/2/1"] figure:nth-child(1),
.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(2),

.mg-music-grid td[data-mg-rythm="2/1/1"] figure:nth-child(3),
.mg-music-grid td[data-mg-rythm="1/1/1/1"] 	figure
{
	width: calc(100% / 3);
	padding: 0;
}
	
.mg-music-grid td[data-mg-rythm="1/1/1/1"] figure,
.mg-music-grid td[data-mg-rythm="2/1/1"] figure
{
/*	border:1px solid red;
*/}
	
.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(1),
.mg-music-grid td[data-mg-rythm="1/2/1"] figure:nth-child(1){
	height: 100%;
	line-height: 6em;
}
.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(2),
.mg-music-grid td[data-mg-rythm="1/2/1"] figure:nth-child(3) {
	height: 3em;
	line-height: 2em;
}
.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(2) {
	padding-bottom: 1em;
}
.mg-music-grid td[data-mg-rythm="1/2/1"] figure:nth-child(3) {
	padding-top: 1em;
}

.mg-music-grid td[data-mg-rythm="1/1/2"] figure:nth-child(3),
.mg-music-grid td[data-mg-rythm="1/2/1"] figure:nth-child(2){
	width: calc( 100% / 3 * 2 );
	height: 2em;
	line-height: 2em;
	padding-left: 12.5%;
}

.mg-music-grid td[data-mg-rythm="2/1/1"] figure {
	width: calc( 100% / 3  );
	padding	: 0;
	margin: 0;
}
.mg-music-grid td[data-mg-rythm="2/1/1"] figure:nth-child(1) {
	height: 2em;
	line-height: 2em;
	margin-right: calc( 100% / -6);
	width: calc( 100% / 2  );
}
.mg-music-grid td[data-mg-rythm="2/1/1"] figure:nth-child(2) {
	height: 3em;
	line-height: 2em;
	padding-top: 4em;
}
.mg-music-grid td[data-mg-rythm="2/1/1"] figure:nth-child(3) {
	height: 6em;
	line-height: 6em;
}

.mg-music-grid td[data-mg-rythm="1/1/1/1"] figure {
	width: calc( 100% / 3  );
	padding	: 0;
	margin: 0;
}
.mg-music-grid td[data-mg-rythm="1/1/1/1"] figure:nth-child(1),
.mg-music-grid td[data-mg-rythm="1/1/1/1"] figure:nth-child(4) {
	height: 6em;
	line-height: 6em;
}
.mg-music-grid td[data-mg-rythm="1/1/1/1"] figure:nth-child(2),
.mg-music-grid td[data-mg-rythm="1/1/1/1"] figure:nth-child(3) {
	height: 3em;
	line-height: 2em;
}
.mg-music-grid td[data-mg-rythm="1/1/1/1"] figure:nth-child(2) {
	padding-bottom: 1em;
	margin-right: calc( 100% / -3);
}
.mg-music-grid td[data-mg-rythm="1/1/1/1"] figure:nth-child(3) {
	padding-top: 4em;
}


figure.mg-repeat:before {
	content: "%";
/*	content: "𝄎";
	font-size: 200%;
*/}
figure.mg-rest:before {
	/*content: "𝄻𝄼𝄽";*/
	font-size: 200%;
}

figure.mg-rest:before {
	content: "𝄻";
}
.mg-music-grid td[data-mg-rythm="2/1/1"] figure.mg-rest:nth-child(1):before,
.mg-music-grid td[data-mg-rythm="1/1/2"] figure.mg-rest:nth-child(3):before,
.mg-music-grid td[data-mg-rythm="2/2"] figure.mg-rest:before {
	content: "𝄼";
}
.mg-music-grid td[data-mg-rythm="1/1/2"] figure.mg-rest:nth-child(1):before,
.mg-music-grid td[data-mg-rythm="1/1/2"] figure.mg-rest:nth-child(2):before,
.mg-music-grid td[data-mg-rythm="2/1/1"] figure.mg-rest:nth-child(2):before,
.mg-music-grid td[data-mg-rythm="2/1/1"] figure.mg-rest:nth-child(3):before,
.mg-music-grid td[data-mg-rythm="1/1/1/1"] figure.mg-rest:before {
	content: "𝄽";
}


.mg-lyrics {
	white-space: pre-line;
	padding: 0 4em;
}


.mg-music-grid figure.mg-chord[data-alt]:after {
	content: attr(data-alt);
	font-size: 80%;
}
.mg-music-grid figure.mg-chord[data-alt^="\/"] {
	padding-bottom: 0.5em;
	margin-top: -0.5em;
}
.mg-music-grid figure.mg-chord[data-alt^="\/"]:after {
	padding-top: 0.5em;
	margin-bottom: -0.5em;
}

.mg-music-grid figure.mg-chord[data-alt="Maj7"]:after {
	content: "𝚫";
	/*content: "Δ";*/
}
.mg-music-grid figure.mg-chord[data-alt="mMaj7"]:after {
	content: "m𝚫";
	/*content: "Δ";*/
}
.mg-music-grid figure.mg-chord[data-alt="dim"]:after {
	content: "Ø";
}

.mg-music-grid .mg-degree {
	/* Ⅰ Ⅱ Ⅲ Ⅳ Ⅴ Ⅵ Ⅷ Ⅸ Ⅹ Ⅺ Ⅻ */
}
.mg-music-grid .mg-super {
	/* ⁰ ¹ ² ³ ⁴ ⁵ ⁶ ⁷ ⁸ ⁹ ⁺⁻⁽⁾⁼ */
}
.mg-music-grid .mg-coda {
	/* 𝄀 𝄁 𝄂 𝄃 𝄄 𝄅 𝄆 𝄇 𝄈 𝄉 𝄊 𝄋 𝄌 */
}

.alignLeft {
	text-align: left;
}
.alignRight {
	text-align: right;
}

select.mg-keys {
	font-family: inherit;
    font-size: 100%;
    margin: 0;
    text-transform: none;

	border: 0.25em solid black;
	background-color: inherit;
	box-sizing: border-box;
}
select.mg-keys *{
	box-sizing: border-box;
}

select.mg-keys > option {
	text-align: center;
}
select.mg-keys > optgroup > option {
	background-color: inherit;
}
select.mg-keys > * {
	outline: none;
	background-color: inherit;
	border-color: inherit;
	border-style: inherit;
	border-left-width: inherit;
	border-right-width: inherit;
}
select.mg-keys > *:first-child {
	border-top-width: inherit;
}
select.mg-keys > *:last-child {
	border-bottom-width: inherit;
}